@import url("https://fonts.googleapis.com/css?family=Raleway:100,300,400");
:root {
  --main-color: #2b495c;
  --secondary-color: #f78f1e;
  --background-image-bg-image: url(img/bg.jpeg);
  --background-image-profile-bg-image: url(img/portrait.jpg); }

#theme002 body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  position: relative; }

#theme002 a, #theme002 h1, #theme002 h2, #theme002 h3, #theme002 h4, #theme002 h5, #theme002 h6 {
  color: var(--main-color); }

#theme002 .rn-container {
  margin: 0 auto;
  max-width: 1000px; }

#theme002 .rn-site-header {
  height: 100px;
  padding-bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  #theme002 .rn-site-header.scrolled {
    background: rgba(0, 0, 0, 0.9); }
  @media only screen and (max-width: 1024px) {
    #theme002 .rn-site-header {
      background: var(--main-color);
      position: relative; } }

#theme002 .rn-site-header-logo {
  height: 100%; }
  #theme002 .rn-site-header-logo a {
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #theme002 .rn-site-header-logo img {
    height: 90%;
    padding: 0 8px; }
  @media only screen and (max-width: 768px) {
    #theme002 .rn-site-header-logo {
      width: 33%; }
      #theme002 .rn-site-header-logo img {
        height: auto;
        width: 100%; } }

#theme002 .rn-site-header-branding {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media only screen and (max-width: 768px) {
    #theme002 .rn-site-header-branding {
      width: 66%; } }

#theme002 .rn-site-header-info {
  padding: 8px 8px 0; }
  #theme002 .rn-site-header-info ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    #theme002 .rn-site-header-info ul li {
      color: #fff;
      border-left: 1px solid #fff;
      padding: 0 8px; }
      #theme002 .rn-site-header-info ul li:first-of-type {
        border-left: none; }
    @media only screen and (max-width: 768px) {
      #theme002 .rn-site-header-info ul {
        font-size: 12px;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        #theme002 .rn-site-header-info ul li {
          border: none; } }

#theme002 .rn-site-header-contact {
  padding: 0 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  #theme002 .rn-site-header-contact a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    padding: 4px; }

#theme002 .rn-site-header-nav {
  padding: 0 4px;
  position: relative; }
  #theme002 .rn-site-header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  @media only screen and (max-width: 1024px) {
    #theme002 .rn-site-header-nav {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }

#theme002 .rn-site-header-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  #theme002 .rn-site-header-nav-menu a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px; }
  #theme002 .rn-site-header-nav-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    transition: all 300ms ease; }
    #theme002 .rn-site-header-nav-menu li:hover {
      background: var(--main-color); }
  @media only screen and (min-width: 1024px) {
    #theme002 .rn-site-header-nav-menu li.has-dropdown:hover .dropdown {
      display: block; }
    #theme002 .rn-site-header-nav-menu .dropdown {
      background: var(--main-color);
      position: absolute;
      top: 34px;
      display: none; }
      #theme002 .rn-site-header-nav-menu .dropdown li:hover {
        background: #fff; }
        #theme002 .rn-site-header-nav-menu .dropdown li:hover a {
          color: var(--main-color); } }
  @media only screen and (max-width: 1024px) {
    #theme002 .rn-site-header-nav-menu {
      background: white;
      padding: 0;
      width: 50%;
      position: absolute;
      top: 43px;
      right: 0;
      z-index: 1;
      display: none; }
      #theme002 .rn-site-header-nav-menu li {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
        #theme002 .rn-site-header-nav-menu li.has-dropdown {
          position: relative; }
          #theme002 .rn-site-header-nav-menu li.has-dropdown:after {
            color: var(--main-color);
            content: "\f0d7";
            font-family: 'FontAwesome';
            position: absolute;
            top: 8px;
            right: 4px; }
        #theme002 .rn-site-header-nav-menu li a {
          color: var(--main-color);
          width: 100%; }
        #theme002 .rn-site-header-nav-menu li:hover a {
          color: #fff; }
        #theme002 .rn-site-header-nav-menu li:hover:after {
          color: #fff; }
      #theme002 .rn-site-header-nav-menu .dropdown {
        width: 100%;
        display: none; } }

#theme002 .rn-site-header-nav-button {
  padding: 8px;
  cursor: pointer;
  display: none; }
  @media only screen and (max-width: 1024px) {
    #theme002 .rn-site-header-nav-button {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }
  #theme002 .rn-site-header-nav-button .rn-site-header-nav-button-text {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 4px; }
  #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger {
    position: relative;
    margin-top: 8px;
    margin-bottom: 8px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger, #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger::before, #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger::after {
      display: block;
      width: 28px;
      height: 3px;
      background-color: #fff;
      transition-property: background-color, -webkit-transform;
      transition-property: background-color, transform;
      transition-duration: 0.3s; }
    #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger::before, #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger::after {
      position: absolute;
      content: ""; }
    #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger::before {
      top: -8px; }
    #theme002 .rn-site-header-nav-button .rn-site-header-nav-burger::after {
      top: 8px; }
  #theme002 .rn-site-header-nav-button.is-active .rn-site-header-nav-burger {
    background-color: transparent; }
  #theme002 .rn-site-header-nav-button.is-active .rn-site-header-nav-burger::before {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg); }
  #theme002 .rn-site-header-nav-button.is-active .rn-site-header-nav-burger::after {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg); }

#theme002 .rn-site-home-hero {
  height: 100vh;
  position: relative; }

#theme002 .rn-site-home-hero-image,
#theme002 .rn-site-home-hero-image-overlay {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0; }

#theme002 .rn-site-home-hero-image {
  background-image: var(--background-image-bg-image);
  background-size: cover; }
  #theme002 .rn-site-home-hero-image.profile {
    background-image: background-image(profile-background-image); }
    @media only screen and (max-width: 768px) {
      #theme002 .rn-site-home-hero-image.profile {
        background-position: center; } }

#theme002 .rn-site-home-hero-image-overlay {
  background: rgba(0, 0, 0, 0.5); }

#theme002 .rn-site-content {
  position: relative; }

#theme002 .rn-site-home-search {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0; }
  #theme002 .rn-site-home-search h2 {
    color: #fff;
    font-weight: 100;
    font-size: 48px;
    text-align: center;
    margin: 0 0 8px 0; }
  #theme002 .rn-site-home-search form {
    margin: 0 auto;
    max-width: 700px;
    padding: 0 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #theme002 .rn-site-home-search form input[type="text"],
    #theme002 .rn-site-home-search form button {
      font-family: "Raleway", sans-serif;
      border: none;
      border-radius: 4px;
      padding: 16px;
      -webkit-appearance: none; }
    #theme002 .rn-site-home-search form input[type="text"] {
      width: 100%; }
    #theme002 .rn-site-home-search form button {
      color: #fff;
      background: var(--secondary-color);
      margin-left: 4px;
      cursor: pointer;
      transition: all 300ms ease; }

#theme002 .rn-site-home-callouts {
  padding-top: 32px; }
  #theme002 .rn-site-home-callouts .rn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  #theme002 .rn-site-home-callouts a {
    color: #fff;
    font-weight: 100;
    text-align: center;
    text-decoration: none; }
    #theme002 .rn-site-home-callouts a i {
      font-size: 72px;
      transition: all 300ms ease; }
    #theme002 .rn-site-home-callouts a:hover i {
      -webkit-transform: scale(1.1);
              transform: scale(1.1); }

#theme002 .rn-site-home-profile {
  color: #fff;
  margin: 0 auto;
  max-width: 1200px;
  padding: 8px;
  position: absolute;
  top: 20%;
  left: 0;
  right: 0; }
  #theme002 .rn-site-home-profile h2 {
    color: #fff;
    font-size: 64px;
    margin: 0; }
  #theme002 .rn-site-home-profile p {
    font-size: 32px;
    font-weight: 100;
    margin-top: 0; }
  #theme002 .rn-site-home-profile ul {
    list-style: none;
    margin: 0;
    padding: 16px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #theme002 .rn-site-home-profile ul li {
      padding: 4px 8px; }
      #theme002 .rn-site-home-profile ul li a {
        color: #fff;
        transition: all 300ms ease; }
        #theme002 .rn-site-home-profile ul li a:hover {
          color: var(--main-color); }
      #theme002 .rn-site-home-profile ul li i {
        font-size: 32px; }

#theme002 .rn-site-home-profile-contact {
  color: #fff;
  text-decoration: none;
  background: var(--secondary-color);
  border-radius: 16px;
  padding: 8px 16px;
  transition: all 300ms ease; }

#theme002 .rn-site-home-profile-content {
  height: 50vh;
  width: 50%; }
  @media only screen and (max-width: 768px) {
    #theme002 .rn-site-home-profile-content {
      width: 100%; } }

#theme002 .rn-site-home-text {
  padding: 0 8px; }

#theme002 .rn-site-home-featured h2 {
  text-align: center; }

#theme002 .rn-site-home-featured .rn-site-home-featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

#theme002 .rn-site-home-featured a {
  background-size: cover;
  height: 300px;
  overflow: hidden;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%; }
  #theme002 .rn-site-home-featured a:hover .rn-site-home-featured-price {
    -webkit-transform: translateY(150px);
            transform: translateY(150px); }
  #theme002 .rn-site-home-featured a:hover .rn-site-home-featured-city {
    -webkit-transform: translateY(-150px);
            transform: translateY(-150px); }

#theme002 .rn-site-home-featured .rn-site-home-featured-price,
#theme002 .rn-site-home-featured .rn-site-home-featured-city {
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  height: 150px;
  position: absolute;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  transition: all 300ms ease; }

#theme002 .rn-site-home-featured .rn-site-home-featured-price {
  font-size: 32px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  top: -150px; }

#theme002 .rn-site-home-featured .rn-site-home-featured-city {
  font-size: 24px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  bottom: -150px; }

@media only screen and (max-width: 1024px) {
  #theme002 .rn-site-home-featured a {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%; }
  #theme002 .rn-site-home-featured .rn-site-home-featured-price,
  #theme002 .rn-site-home-featured .rn-site-home-featured-city {
    -webkit-transform: none !important;
            transform: none !important; }
  #theme002 .rn-site-home-featured .rn-site-home-featured-price {
    top: 0; }
  #theme002 .rn-site-home-featured .rn-site-home-featured-city {
    bottom: 0; } }

@media only screen and (max-width: 768px) {
  #theme002 .rn-site-home-featured a {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%; } }

#theme002 .rn-site-footer {
  color: #fff;
  font-size: 12px;
  background: var(--main-color);
  padding: 16px 0; }
  #theme002 .rn-site-footer a {
    color: #fff; }
  #theme002 .rn-site-footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    #theme002 .rn-site-footer ul li {
      border-left: 1px solid #fff;
      padding: 4px 8px; }
      #theme002 .rn-site-footer ul li:first-of-type {
        border-left: none; }
  #theme002 .rn-site-footer p {
    font-size: 11px; }

#theme002 .rn-site-footer-agent-access {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
