@import 'global-functions';
@import 'global-media-queries';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');

@import 'sass-burger';

$gutter-width: $rem-base;
$mobile-header-height: rem-calc(40);

$white: #fff;
$black: #000;
$gray: #c6c6c6;
$light-gray: #e6e5e4;
$dark-gray: #616161;

$colors: (
  main-color: #04af99,
  secondary-color: #f78f1e,
  tertiary-color: #005aa2
);

$backgrounds: (
  hero: url(img/team/hero1.jpg),
  sub-hero: url(img/team/hero2.jpg),
  agent: url(img/team/hero2.jpg)
);

:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: $color;
  }
  
  @each $name, $file in $backgrounds {
    --#{$name}: $file;
  }
  

}

@function color($color-name) {
  @return var(--#{$color-name});
}

@function bg($bg-name) {
  @return var(--#{$bg-name})
}

$sans-serif-font: 'Open Sans', sans-serif;
$serif-font: 'Source Serif Pro', serif;
$cursive-font: 'Dancing Script', cursive;

$transition: all 300ms ease;



#personal4 {
  
  color: $black;
  font-family: $sans-serif-font;
  font-weight: 300;
  
  a, h1, h2, h3, h4, h5, h6 {
    color: color(main-color);
  }
  
  .site-container {
    margin: 0 auto;
    max-width: rem-calc(1200);
  }
  
  .no-bullet {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
  }
  
  .site-row {
    display: flex;
    justify-content: space-between;
    
    &.align-middle {
      align-items: center;
    }
    
    @media #{$mobile-down} {
      flex-wrap: wrap;
    }
    
  }
  
  .site-column {
    padding: 0 ($gutter-width / 2);
    
    &.two-thirds {
      width: 66%;
    }
    
    &.half {
      width: 50%;
    }
    
    &.third {
      width: 33%;
    }
    
    &.quarter {
      width: 25%;
    }
    
    @media #{$mobile-down} {
      &.two-thirds,
      &.half,
      &.third,
      &.quarter {
        width: 100%;
      }
      
      
    }
  }
  
  
  
  
  
  // HEADER
  .site-header { 
    
    border-bottom: ($gutter-width / 4) solid color(main-color);  
    width: 100%; 
  
    
    @media #{$mobile-down} {
      height: $mobile-header-height;
      
      position: relative;
      
      display: block;
      
      .site-logo-nav, .site-logo, .site-logo img {
        height: 100%;
      }
      
      
      
    }
    
  }
  
  .site-header-social-contact {
    color: $white;
    
    background: $black;
    padding: ($gutter-width / 2) 0;
    
    .site-container {
      display: flex;
      
      ul {
        &:last-of-type {
          margin-left: auto;
        }
      }
    }
    
    a {
      color: $white;
      text-decoration: none;
    }
    
    ul {
      align-items: center;
      display: flex;
      
      &.site-header-social {
        li {
          padding-right: ($gutter-width);
          
          a {
            font-size: rem-calc(18);
          }
        }
      }
      
      &.site-header-contact {
        li {
          font-size: rem-calc(12);
          font-weight: bold;
          
          border-right: 1px solid $white;
          padding: 0 ($gutter-width);
          
          &:last-of-type {
            border-right: none;
          }
        }
      }
    }
    
    @media #{$mobile-down} {
      display: none;
    }
  }
  
  .site-logo {
    padding-bottom: $gutter-width / 4;
        
    align-items: center;
    display: flex;
    
    img {
      padding-right: $gutter-width / 2;
    }
    
    a {
      color: $black;
      font-family: $cursive-font;
      font-size: ($gutter-width * 1.5);
      line-height: 0.8;
      text-align: center;
      text-decoration: none;
      
      display: block;

      span {
        font-family: $serif-font;
        display: block;
      }
      
      
    }
    
    @media #{$mobile-down} {
      
      width: auto;
      
      a {
        font-size: rem-calc(20);
        text-shadow: none;
        
      }
      
      
    }
      
  }
  
  .site-logo-nav {
    
    padding: ($gutter-width / 2) 0;
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    @media #{$mobile-down} {
      padding: 0;
      
      position: relative;
    }
    
    
    nav {
      
      ul {
        list-style-type: none;
        
        margin: 0;
        padding: 0;
        
        li {
          
          
          a {
            font-family: $sans-serif-font;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
      
      @media #{$tablet-up} {
        padding: ($gutter-width) 0 ($gutter-width) ($gutter-width);
        
        align-items:  center;
        display: flex;
        
        > ul {
          
          border-right: 1px solid $black;
          margin-right: ($gutter-width);
          padding-right: ($gutter-width);
          
          align-items:  center;
          display: flex;
          
          > li {
            padding: 0 ($gutter-width);
            
            > a {    
              color: $black;
                        
              position: relative;
        
              align-items:  center;
              display: flex;
              
              transition: $transition;
            }
            
            &:not(.has-dropdown) {
              &:hover {
                a {
                  opacity: 0.7;
                }
              }
            }
          }
          
        }
        
        ul {
          
          li {
            
            font-size: rem-calc(18);

          }
          
          .has-dropdown {
            padding-right: $gutter-width * 2;
            
            position: relative;
            
            &:after {
              color: $black;
              content: '\f107';
              font-family: FontAwesome;
              
              position: absolute;
              right: $gutter-width;
              top: 0;
              
              transition: $transition;
            }
            
            &:hover {
              .dropdown {
                display: block;
              }
              
              
              
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          
          .dropdown {
            list-style: none;
            
            margin: 0;
            padding-left: 0;
            
            position: absolute;
            top: rem-calc(20);
            
            display: none;
                      
            li {
              background: color(main-color);
              padding: 0;
              
              transition: $transition;
              
              a {
                color: $white;
                
                padding: ($gutter-width / 2);
                
                display: block;
              }
              
              &:hover {
                background: $white;
                
                a {
                  color: $dark-gray;
                                  
                }
              }
            }
          }
        }
      }
      
      
      @media #{$mobile-down} {
        margin-left: auto;
        
        align-items: center;
        display: flex;
        
        > ul {
          display: none;
          
          width: 100%;
          
          position: absolute;
          top: $mobile-header-height;
          right: 0;
          z-index: 1;
          
          li {
            background: $white;
            border-bottom: 1px solid $dark-gray;
            
            &:last-of-type {
              border-bottom: none;
            }
            
            a {
              color: $dark-gray;
              text-decoration: none;
              
              padding: $gutter-width / 2;
              
              display: block;
            }
          }
        } 
        
        ul {
          
          .has-dropdown {
            position: relative;
            
            flex-wrap: wrap;
            
            a {
              width: 100%;
            }
            
            &:after {
              content: '\f107';
              font-family: FontAwesome;
              
              position: absolute;
              top: $gutter-width / 2;
              right: $gutter-width / 2;
              
              transition: $transition;
            }
            
            &.open {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          
          .dropdown {
            position: inherit;
            top: 0;
            
            display: none;
            
            li {
              background: $black;
              border-color: $white;
              
              a {
                color: $white;
              }
            }
          }
        }
      }
      
      .site-header-nav-login {
        color: $black;
        font-size: rem-calc(18);
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        
        margin-right: ($gutter-width); 
        padding: ($gutter-width / 2) ($gutter-width);
        
        transition: $transition;
        
        &:hover {
          color: color(main-color);
        }
        
        @media #{$mobile-down} {
          margin-right: 0;
        }
        
        
      }
      
      .site-header-nav-button {
        text-decoration: none;
        
        padding: 0 ($gutter-width / 2);
        
        cursor: pointer;
        display: none;
        
        
        
        @media only screen and (max-width: 769px) {
          align-items: center;
          display: flex;
        }
        
        
        
        .site-header-nav-burger {
          @include burger(28px, 3px, 5px, $black);
        }
        
        &.is-active {
          .site-header-nav-burger {
            @include burger-to-cross;
          
          }
        }
        
        
      }
      
      
      
    }
    
  }
  

  
  
  // HERO
  
  .site-home-page-hero {
    background-image: bg(hero);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
        
    
    @media #{$mobile-down} {
      height: calc(100vh - #{$mobile-header-height});
      
      position: relative;
    }
    
  }
  
  // CALLOUTS
  
  .site-home-page-hero-callouts {
    
    padding: rem-calc(650) 0 rem-calc(100);
    
    display: flex;
    justify-content: center;
    
    a {
      color: $white;
      font-size: rem-calc(100);
      text-decoration: none;
      
      border: 2px solid $white;
      border-radius: 100%;
      height: rem-calc(150);
      margin: 0 ($gutter-width);
      width: rem-calc(150);
      
      position: relative;
      
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      transition: $transition;
      
      span {
        font-size: $gutter-width;
        
        opacity: 0;
        position: absolute;
        bottom: rem-calc(46);
        
        transition: $transition;
      }
      
      &:hover {
        background: color(main-color);
        
        span {
          opacity: 1;
          
          bottom: rem-calc(-26);
        }
      }
    }
    
    
    @media #{$mobile-down} {
      padding: 0;
      width: 100%;
      
      position: absolute;
      bottom: 25%;
      
      a {
        font-size: rem-calc(50);
        
        height: rem-calc(75);
        margin: 0 ($gutter-width / 2);
        width: rem-calc(75);
        
        span {
          font-size: rem-calc(12);
          text-align: center;
          
          opacity: 1;
          
          bottom: rem-calc(-32);
        }
      }
    }
    
  
    
  }
  
  .site-home-page-hero-search {
    
        
    padding-bottom: rem-calc(50);
    
    .site-home-page-hero-nav-search-container {
      background: rgba($white, 0.7);
      padding: ($gutter-width / 2) 0;
    }
    
    .site-container {
      
    
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    
    h2 {
      color: $black;
      font-family: $serif-font;
      font-size: rem-calc(28);
      font-weight: normal;
      text-transform: uppercase;
      
      padding: 0 ($gutter-width * 2) 0 ($gutter-width / 2);
    }
    
    
    .site-home-page-hero-search-form {
    
      flex: 1 1 auto;
      
      form {
        
        margin: 0;
        
        display: flex;
        justify-content: flex-end;
        
        input {
          font-family: $sans-serif-font;
          text-transform: uppercase;
          
          
          &[type="text"] { 
            
            font-size: rem-calc(12);
             
            border-top: 1px solid $black;
            border-right: none;
            border-bottom: 1px solid $black;
            border-left: 1px solid $black;  
            padding: rem-calc(22);
            
            flex: 100%;          }
          
          &[type="submit"] {
            color: $white;
            font-size: rem-calc(18);
            text-align: center;
            
            background: color(main-color);
            border-top: 1px solid $black;
            border-right: 1px solid $black;
            border-bottom: 1px solid $black;
            border-left: none; 
            padding: 0 ($gutter-width * 2);
            
            flex: 1 1 auto;
            
            cursor: pointer;
            transition: $transition;
            
            &:hover {
              color: color(main-color);
              
              background: $white;
            }
            
          }
        }
      }
      
      
    }
    
    
    @media #{$mobile-down} {
      padding-bottom: 0;
      width: 100%;
      
      position: absolute;
      bottom: 0;
      
      .site-container {
        flex-wrap: wrap;
      }
      
      h2 {
        text-align: center;
        
        margin: ($gutter-width / 4) 0;
        padding: 0;
        width: 100%;
      }
      
      .site-home-page-hero-search-form {
        form {
        
          margin: 0 ($gutter-width / 2);
          
          input {
            
            &[type="text"] { 
              width: 66.6%;
            }
            
            &[type="submit"] { 
              width: 33.3%;
            }
            
          }
          
          
        }
      }
      
      
      
    }
    

  }
  
  // CONTENT
  
  .site-home-page-content {

    padding: ($gutter-width * 2) 0;
    
    h1, h2, h3 {
      
      font-family: $serif-font;
      
      margin: 0;
    }
    
    
    h1 {
      font-family: $cursive-font;
      font-size: rem-calc(100);
      font-weight: normal;
      line-height: 0.8;
      
      border-bottom: 2px solid $dark-gray;
      margin-bottom: ($gutter-width / 2);
      padding-bottom: ($gutter-width / 2);
      
      span {
        font-family: $serif-font;
        text-transform: uppercase;
        
        display: block;
      }
      
    }
    
    h2, h3 {
      color: $dark-gray;
      font-weight: 100;
      line-height: 1.1;
    }
    
    h2 {
      font-size: rem-calc(40);
      
    }
    
    h3 {
      font-size: rem-calc(28);
    }
    
    p {
      line-height: 2;
    }
    
    @media #{$mobile-down} {

      
      h1 {
        font-size: rem-calc(40);
        line-height: 1;
      }
      
      h2, h3 {
        font-size: rem-calc(18);
      }

      
    }

  }
  
  
  
  // FEATURED LISTINGS
  
  .site-featured-listings {
    
    margin: 0 auto;
    max-width: rem-calc(2600);
    padding-bottom: rem-calc(100);
    

    a {
      color: $dark-gray;
      text-decoration: none;
      
      border: 1px solid $dark-gray;
      height: auto;
      margin: 0 ($gutter-width);
      padding: rem-calc(24);
    
      position: relative;
            
      transition: $transition;
      
      
      &:hover {
        box-shadow: 0 $gutter-width rem-calc(10) 2px;
      }
      
      img {
        width: 100%;
        
        display: block;
      }
      
      ul {
        text-align: center;
        
        padding-top: rem-calc(24);
        
        li {
          &.price {
            font-family: $serif-font;
            font-size: ($gutter-width * 2);
            font-weight: bold;
            
            padding-bottom: ($gutter-width / 2);
            
          }
          
        }
      }
      
      span {
        font-size: rem-calc(24);
        text-align: center;
        
        padding-top: ($gutter-width / 2);
        
        display: block;
      }
      
      
    }
    
    
    @media #{$mobile-down} {
      
      flex-wrap: wrap;
      
      a {
        margin-bottom: ($gutter-width);
        
        flex: 1 1 100%;
      }
      
    }
    
    
  }
  

  
  

  
  

  

  
  
  // FOOTER
  
  .site-footer {
    color: $white;
    font-size: rem-calc(14);
    
    background: $dark-gray;
    padding: ($gutter-width * 2) 0;
    
    p {
      margin: 0;
    }
    
    .site-footer-name {
      color: color(main-color);
      font-family: $cursive-font;
      font-size: rem-calc(18);
      
      span {
        font-family: $serif-font;
        text-transform: uppercase;
        
        display: block;
      }
    }
    
    .site-footer-title {
       font-family: $serif-font;
    }
    
    .footer-address {
      margin: ($gutter-width) 0;
      
      .office {
        color: color(main-color);
        font-family: $serif-font;
        font-size: rem-calc(18);
        text-transform: uppercase;
      }
    }
    
    h2 {
      color: $white;
      font-family: $serif-font;
      font-size: rem-calc(20);
      font-weight: 100;
      text-transform: uppercase;
    }
    
    .footer-social {
      
      align-items: flex-end;  
      display: flex;
      
      li {
        padding: 0 $gutter-width / 2;
        
        &:first-of-type {
          padding-left: 0;
        }
        
        a {
          color: $white;
          font-size: rem-calc(18);
          text-decoration: none;
          
          border: 1px solid $white;
          border-radius: 100%;
          height: rem-calc(28);
          width: rem-calc(28);
          
          align-items: center;
          display: flex;
          justify-content: center;
          
          transition: $transition;
          
          &:hover {
            
            background: color(main-color);
            border-color: color(main-color);
          }
          
        }
      }
      
      
      
    }
    
    
    form {
      font-size: rem-calc(12);
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      input, 
      textarea {
        font-family: $sans-serif-font;
        
        background-repeat: no-repeat;
        background-position: right top;
        border: none;
        border-radius: 4px;
        padding: rem-calc(12);
        -webkit-appearance: none;
        
        
      }
      
      input {
        &[type="text"],
        &[type="email"] {
          background-size: contain;
          margin-bottom: ($gutter-width / 2);
          
          width: 49%;
          
          &:focus {
            background-image: none;
          }
        }
        
        &[type="text"] {
          margin-right: ($gutter-width / 2);
          
          background-image: url(../img/contact-icon-name.png);
        }
        
        &[type="email"] {          
          background-image: url(../img/contact-icon-email.png);
        }
        
        
        &[type="submit"] {
          color: $white;
          font-family: $sans-serif-font;
          text-transform: uppercase;
          
          background: rgba($white, 0.4);
          border: 1px solid $white;
          border-radius: $gutter-width;
          margin: ($gutter-width / 2) 0;
          padding: rem-calc(10) $gutter-width;
          -webkit-appearance: none;
          
          cursor: pointer;
          transition: $transition;
          
          &:hover {
            color: $white;
            
            background: color(main-color);
            
          }
        }
      }
      
      textarea {
        background-image: url(../img/contact-icon-message.png);
        width: 100%;
        
        &:focus {
          background-image: none;
        }
      }
    }
    
    .site-footer-links {
      font-family: $sans-serif-font;
      
      padding: ($gutter-width * 2) 9;
            
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      li {
        font-size: rem-calc(12);
        
        border-bottom: 1px solid $white;
        margin-right: ($gutter-width / 2);
        margin-bottom: ($gutter-width);
        
        flex: 25%;
        
        transition: $transition;
        
        &:hover {
          a {
            opacity: 0.6;
          }
        }
        
        a {
          color: $white;
          text-decoration: none;
          
          transition: $transition;
        }
      }
    }
    
    .site-footer-disclaimer {
      font-family: $sans-serif-font;
      font-size: 10px;
    }
    
    .site-footer-branding {
      padding: ($gutter-width * 2) ($gutter-width / 2) 0;
      
      align-items: center;
      display: flex;
      justify-content: space-between;
      
      .site-agent-access-link {
        color: $white;
        font-family: $sans-serif-font;
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        
        border: 1px solid $white;
        padding: ($gutter-width) ($gutter-width * 2);
        
        transition: $transition;
        
        &:hover {
          
          background: color(main-color);
        }
      }
    }
    
    
    @media #{$mobile-down} {
      h2 {
        text-align: center;
      }
      
      .site-logo {
        img {
          margin: 0 auto;
          
          display: block;
        }
      }
      
      form {
        input {
          &[type="text"] {
            margin-right: 0;
          }
          
          
          &[type="text"],
          &[type="email"] {
            
            width: 100%;
          }
      }
      }
      
      .site-footer-links {
        li {
          flex: 100%;
        }
      }
      
      .site-footer-branding {
        flex-wrap: wrap;
        
        a {
          margin: 0 ($gutter-width / 2);
        }
      }
    }
  }

  
}



