@import 'global-functions';
@import 'global-media-queries';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import 'sass-burger';

$gutter-width: $rem-base;
$mobile-header-height: rem-calc(40);

$white: #fff;
$black: #000;
$gray: #c6c6c6;
$light-gray: #e6e5e4;
$dark-gray: #4f4f4f;

$colors: (
  main-color: #04af99,
  secondary-color: #f78f1e,
  tertiary-color: #005aa2
);

$backgrounds: (
  hero: url(img/team/hero1.jpg),
  sub-hero: url(img/team/hero2.jpg),
  agent: url(img/team/hero2.jpg)
);

:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: $color;
  }
  
  @each $name, $file in $backgrounds {
    --#{$name}: $file;
  }
  

}

@function color($color-name) {
  @return var(--#{$color-name});
}

@function bg($bg-name) {
  @return var(--#{$bg-name})
}

$sans-serif-font: 'Open Sans', sans-serif;
$serif-font: 'EB Garamond', serif;

$transition: all 300ms ease;



#personal4 {
  
  color: $black;
  font-family: $sans-serif-font;
  font-weight: 300;
  
  a, h1, h2, h3, h4, h5, h6 {
    color: color(main-color);
  }
  
  .site-container {
    margin: 0 auto;
    max-width: rem-calc(1200);
  }
  
  .no-bullet {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
  }
  
  .site-row {
    display: flex;
    justify-content: space-between;
    
    &.align-middle {
      align-items: center;
    }
    
    @media #{$mobile-down} {
      flex-wrap: wrap;
    }
    
  }
  
  .site-column {
    padding: 0 ($gutter-width / 2);
    
    &.two-thirds {
      width: 66%;
    }
    
    &.half {
      width: 50%;
    }
    
    &.third {
      width: 33%;
    }
    
    &.quarter {
      width: 25%;
    }
    
    @media #{$mobile-down} {
      &.two-thirds,
      &.half,
      &.third,
      &.quarter {
        width: 100%;
      }
      
      
    }
  }
  
  
  
  
  
  // HEADER
  .site-header { 
    background: rgba($black, 0.7); 
    width: 100%; 
    
    position: absolute;
    top: calc(100vh - #{rem-calc(150)});
    z-index: 1;
    
    &.scrolled {
      position: fixed;
      top: 0;
      z-index: 1;
    }
    
    @media #{$mobile-down} {
      background: $black;
      height: $mobile-header-height;
      
      position: relative !important;
      top: 0;
      
      display: block;
      
      .site-logo, .site-logo img {
        height: 100%;
      }
      
      
      
    }
    
  }
  
  
  
  .site-logo {
    padding-bottom: $gutter-width / 4;
        
    align-items: center;
    display: flex;
    
    img {
      padding-right: $gutter-width / 2;
    }
    
    a {
      color: $white;
      font-family: $serif-font;
      font-size: ($gutter-width * 2);
      line-height: 0.8;
      text-align: center;
      text-decoration: none;
      
      display: block;
      
      
      
    }
    
    @media #{$mobile-down} {
      
      width: auto;
      
      a {
        font-size: rem-calc(20);
        text-shadow: none;
        
      }
      
      
    }
      
  }
  
  .site-logo-nav-search {
    
    padding: ($gutter-width / 2) 0;
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    @media #{$mobile-down} {
      padding: 0;
      
      position: relative;
    }
    
    
    nav {
      padding-left: $gutter-width;
      
      ul {
        list-style-type: none;
        
        margin: 0;
        padding: 0;
        
        li {
          
          a {
            font-family: $sans-serif-font;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
      
      @media #{$tablet-up} {
        
        align-items:  center;
        display: flex;
        
        > ul {

        
          align-items:  center;
          display: flex;
          
          > li {
            padding: ($gutter-width);
        
            align-items:  center;
            display: flex;
            
            &:first-of-type {
              padding-left: 0;
            }
            
            &:last-of-type {
              border-right: none;
              padding-right: 0;
            }
            
            > a {
              color: $white;
              
              position: relative;
        
              align-items:  center;
              display: flex;
              
              transition: $transition;
            }
            
            &:not(.has-dropdown) {
              &:hover {
                a {
                  opacity: 0.7;
                }
              }
            }
          }
        }
        
        ul {
          
          padding-right: $gutter-width * 2;
          
          li {
            font-size: rem-calc(14);
            
          }
          
          .has-dropdown {
            padding-right: $gutter-width * 2;
            
            position: relative;
            
            &:after {
              color: $white;
              content: '\f107';
              font-family: FontAwesome;
              
              position: absolute;
              right: $gutter-width;
              
              transition: $transition;
            }
            
            &:hover {
              .dropdown {
                display: block;
              }
              
              
              
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          
          .dropdown {
            list-style: none;
            
            margin: 0;
            padding-left: 0;
            
            position: absolute;
            top: rem-calc(36);
            
            display: none;
                      
            li {
              background: $white;
              padding: 0;
              
              transition: $transition;
              
              a {
                color: $dark-gray;
                
                padding: ($gutter-width / 2);
                
                display: block;
              }
              
              &:hover {
                background: color(main-color);
                
                a {
                  color: $white;
                                  
                }
              }
            }
          }
        }
      }
      
      @media #{$mobile-down} {
        margin-left: auto;
        
        align-items: center;
        display: flex;
        
        > ul {
          display: none;
          
          width: 100%;
          
          position: absolute;
          top: $mobile-header-height;
          right: 0;
          
          li {
            background: $white;
            border-bottom: 1px solid $dark-gray;
            
            &:last-of-type {
              border-bottom: none;
            }
            
            a {
              color: $dark-gray;
              text-decoration: none;
              
              padding: $gutter-width / 2;
              
              display: block;
            }
          }
        } 
        
        ul {
          
          .has-dropdown {
            position: relative;
            
            flex-wrap: wrap;
            
            a {
              width: 100%;
            }
            
            &:after {
              content: '\f107';
              font-family: FontAwesome;
              
              position: absolute;
              top: $gutter-width / 2;
              right: $gutter-width / 2;
              
              transition: $transition;
            }
            
            &.open {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          
          .dropdown {
            position: inherit;
            top: 0;
            
            display: none;
            
            li {
              background: $black;
              border-color: $white;
              
              a {
                color: $white;
              }
            }
          }
        }
      }
      
      .site-header-nav-login {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        
        border-left: 1px solid $white;
        padding: 0 ($gutter-width * 2);
        
        transition: $transition;
        
        &:hover {
          color: color(main-color);
        }
        
        @media #{$mobile-down} {
          border-left: none;
          padding: 0 ($gutter-width / 4);
        }
      }
      
      .site-header-nav-button {
        text-decoration: none;
        
        padding: 0 ($gutter-width / 2);
        
        cursor: pointer;
        display: none;
        
        @media #{$mobile-down} {
          align-items: center;
          display: flex;
        }
        
        
        
        .site-header-nav-burger {
          @include burger(28px, 3px, 5px, $white);
        }
        
        &.is-active {
          .site-header-nav-burger {
            @include burger-to-cross;
          
          }
        }
        
      }
      
    }
    
  }
  
  
  
  
  .site-header-quick-search {
    
    margin-left: auto;
    
    position: relative;
    
    #headerSearch {
      text-decoration: none;
      
      height: rem-calc(40);
      width: rem-calc(40);
      
      position: relative;
      top: 0;
      
      display: inline-block;
      
      cursor: pointer;
      
      span {
        color: $dark-gray;
        font-size: rem-calc(24);
        font-weight: bold;
        text-align: right;
        
        backface-visibility: hidden;
        background: $white;
        border: 1px solid $gray;
        height: rem-calc(40);
        width: rem-calc(40);
        
        position: absolute;
        top: 0;
        left: 0;
        
        align-items: center;
        display: flex;
        justify-content: center;
        
        transition: $transition;
        
        &.open {
          transform: rotateY(-180deg);
        }
      }
      
      &.flipped {
        .closed {
          transform: rotateY(-180deg);
        }
        
        .open {
          transform: rotateY(0);
        }
        
        
      }

    }  
        
    form {
      
      margin: 0;
      opacity: 0;
      width: rem-calc(400);
      
      position: absolute;
      top: rem-calc(-42);
      right: rem-calc(-2);
      
      display: flex;
      justify-content: flex-end;
            
      transition: $transition;
      
      &.expanded {
        opacity: 1;
        
        top: rem-calc(42);
      }
      
      input {
        
        
        text-transform: uppercase;
        
        
        &[type="text"] { 
          font-family: $sans-serif-font;
          font-size: rem-calc(12);
           
          border-top: 2px solid $gray;
          border-right: none;
          border-bottom: 2px solid $gray;
          border-left: 2px solid $gray;  
          padding: ($gutter-width);
          
          flex: 100%;
        }
        
        &[type="submit"] {
          color: $white;
          font-family: $serif-font;
          font-size: rem-calc(18);
          text-align: center;
          
          background: color(main-color);
          border-top: 2px solid $gray;
          border-right: 2px solid $gray;
          border-bottom: 2px solid $gray;
          border-left: none; 
          padding: 0 ($gutter-width);
          
          flex: 1 1 auto;
          
          cursor: pointer;
          transition: $transition;
          
          &:hover {
            color: color(main-color);
            
            background: $white;
          }
          
        }
      }
    }
    
    @media #{$mobile-down} {
      
      display: none;
      
    }
  }
  
  
  // HERO
  
  .site-home-page-hero {
    height: 100vh;
    
    .site-home-page-hero-slider {
      height: 100vh;
      width: 100%;
      
      position: absolute;
      
      article {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        
        height: 100vh;
        width: 100%;
      }
      
      .slick-dots {
        bottom: $gutter-width;
        
        li {
          background: $white;
          height: rem-calc(12);
          width: rem-calc(12);
          
          &.slick-active {
            background: $dark-gray;
          }
          
          button {
            &:before {
              display: none;
            }
          }
        }
      }
    }
        
    
    @media #{$mobile-down} {
      
      .site-home-page-hero-slider {
        article {
          background-position: right;
          
          height: calc(100vh - #{$mobile-header-height});
        }
        
        .slick-dots {
          display: none !important;
        }
      }
      
      height: calc(100vh - #{$mobile-header-height});
    }
    
  }
  
  #scrollDown {
    color: $white;
    font-size: $gutter-width * 3;
    text-align: center;
    text-decoration: none;
    
    padding-top: $gutter-width * 2;
    
    display: block;
    position: relative;
    
    cursor: pointer;
    transition: $transition;
    
    &:hover {
      transform: scale(1.5);
    }
    
    @media #{$mobile-down} {
      display: none;
    }
  }
  
  .site-home-page-hero-content {  
        
    padding-top: $gutter-width * 3;
    
    position: relative;
    
    h1, h2, h3, p {
      color: $white;
      
      max-width: rem-calc(600);
    }
        
    
    h1, h2, h3 {
      
      font-family: $serif-font;
      
      margin: 0;
    }
    
    
    h1 {
      font-size: rem-calc(100);
      font-weight: normal;
      line-height: 0.8;
      text-transform: uppercase;
      
      
    }
    
    h2, h3 {
      font-style: italic;
      font-weight: 100;
      line-height: 1.1;
    }
    
    h2 {
      font-size: rem-calc(50);
    }
    
    h3 {
      font-size:  ($gutter-width * 2);
    }
    
    p {
      line-height: 2;
    }
    
    ul {
      display: flex;
      
      li {
        padding-right:  ($gutter-width * 2);
      }
      
      a {
        color: $white;
        font-size: ($gutter-width * 4);
        text-decoration: none;
        
        transition: $transition;
        
        &:hover {
          color: color(main-color);
        }
        
      }
      
    }
    
    
    @media #{$mobile-down} {
      padding: ($gutter-width / 2);
      width: 90%;
      
      position:  absolute;
      top: auto;
      bottom: 0;
      
      h1 {
        font-size: rem-calc(40);
        line-height: 1;
      }
      
      h2, h3 {
        font-size: rem-calc(18);
      }

      
    }
  }
  
        // CALLOUTS
  
  .site-callouts {
    
    a {
      color: $white;
      text-decoration: none;
      
      padding: ($gutter-width) ($gutter-width * 4);
      
      align-items: center;
      display: flex;
      
      transition: $transition;
      
      &:nth-child(odd) {
        background: $light-gray;
      }
      
      &:nth-child(even) {
        background: $gray;
      }
      
      i {
        font-size: rem-calc(150);
        
        padding-right: ($gutter-width);
      }
      
      
      h2,
      h3 {
        color: $black;
        
        margin: 0;
      }
      
      h2 {
        font-family: $serif-font;
        font-size: rem-calc(28);
        font-weight: bold;
        text-transform: uppercase;
        
        padding-top: ($gutter-width / 2);
      }
      
      h3 {
        font-size: rem-calc(14);
        font-weight: normal;
      }
      
      span {
        color: $black;
        font-size: rem-calc(12);
        font-weight: bold;
        
        padding: ($gutter-width) 0;
        
        align-items: center;
        display: flex;
        
        position: relative;
        
        .arrow {
          border-top: 1px solid $black;
          border-right: 1px solid $black;
          height: rem-calc(20);
          margin-left: rem-calc(82);
          width: rem-calc(20);
          
          display: block;
          
          transform: rotate(45deg);
        }
      
        
        &:after {
          content: '';
          
          border-bottom: 1px solid $black;
          width: rem-calc(100);
          
          position: absolute;
          top: 50%;
          left: rem-calc(75);
        }
      }
      
      
      
      &:hover {
        background: color(main-color);
      }
      
      @media #{$mobile-down} {
        padding: ($gutter-width);
        
        i {
          font-size: rem-calc(75);
        }
        
        span {
          
          &:after {
            display: none;
          }
          .arrow {
            display: none;
          }
        }
      }
      
      
    }
    

    
  }
  
  
  
    // TESTIMONIAL
  
  
  .site-home-page-testimonial {
    
    padding: rem-calc(80) 0;
    
    .site-container {
      display: flex;
      
      
    }
    
    h2 {
      color: $black;
      font-family: $serif-font;
      font-size: rem-calc(60);
      font-weight: normal;
      line-height: 1;
      text-transform: uppercase;
      
      flex: 30%;
    }
    
    @media #{$mobile-down} {
      
      padding: ($gutter-width);
      
      .site-container {
        flex-wrap: wrap;
      }
      
      h2 {
        font-size:  ($gutter-width * 2);
        
        flex: 100%;
      }
      
      
    }

  }
  
  .site-home-page-testimonial-content {
      
      position: relative;
      
      align-items: center;
      flex: 60%;
      
      &:before,
      &:after {
        color: $gray;
        content: "''";
        font-family: $serif-font;
        font-size: rem-calc(100);
        
        position: absolute;
        z-index: -1;
      }
      
      &:before {
                
        top: -24px;
        left: 0;
        
      }
      
      &:after {
        bottom: 15px;
        right: -15px;
      }
      
      p {
        font-size: rem-calc(18);
        line-height: 1.8;
        
        margin: 0;
      }
      
      span {
        font-size: ($gutter-width);
        font-style: italic;
        font-weight: 100;
        text-align: right;
        
        padding-right:  ($gutter-width * 3);
        
        display: block;
        
      }
      
      @media #{$mobile-down} {
        
        &:after {
          bottom: - ($gutter-width * 3);
        }
        
        p, span {
          font-size: rem-calc(14);
        }
      }
      
    }
  
  
  
  
  
  // FEATURED LISTINGS
  
  .site-featured-listings {
    
    margin: 0 auto;
    max-width: rem-calc(2600);
    
    display: flex;
    flex-wrap: wrap;
    
    
    article {
      color: $white;
      font-family: $sans-serif-font;
      font-weight: lighter;
      
      background-image: url(../img/persona4/featured-listing.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: rem-calc(600);
      
      align-items: flex-end;
      display: flex;
      flex: 1 1 50%;
      
      &:first-of-type {
        ul {
          justify-content: flex-end;
        }
      }
      
      ul {
        background: linear-gradient(transparent, rgba($black, 0.8));
        padding: ($gutter-width);
        width: 100%;
        
        align-items: flex-end;
        display: flex;
        flex-wrap: wrap;
        
        li {
          
          &.price {
            font-size: rem-calc(28);
            font-weight: 400;
            line-height: 1;
            
            padding-right: ($gutter-width / 2);
                        
          }
          
          &.view {
            
            font-weight: bold;
            text-transform: uppercase;
            
            border: 1px solid $white;
            padding: ($gutter-width / 2) ($gutter-width);
            margin-left: ($gutter-width);
            
            transition: $transition;
              
            &:hover {
              background: color(main-color);
            }
            
            a {
              color: $white;
              text-decoration: none;
              
              
            }
            
          }
          
          
        }
      }
    }
    
    @media #{$mobile-down} {
      article {
        height: rem-calc(300);
      }
      
      ul {
        justify-content: center !important;
      }
      
      .view {
        margin-top: ($gutter-width / 2);
      }
    }
    
    
    
  }
  

  
  

  
  

  

  
  
  // FOOTER
  
  .site-footer {
    color: $black;
    font-size: rem-calc(14);
    
    background: $white;
    padding:  ($gutter-width * 2) 0;
    
    p {
      margin: 0;
    }
    
    .site-footer-name {
      font-family: $serif-font;
      font-size: rem-calc(18);
      text-transform: uppercase;
    }
    
    .site-footer-title {
       font-family: $serif-font;
    }
    
    .footer-address {
      margin: ($gutter-width) 0;
      
      .office {
        font-family: $serif-font;
        font-size: rem-calc(18);
      }
    }
    
    h2 {
      color: $black;
      font-family: $serif-font;
      font-size: rem-calc(20);
      font-weight: 100;
      text-transform: uppercase;
    }
    
    .footer-social {
      
      align-items: flex-end;  
      display: flex;
      
      li {
        padding: 0 $gutter-width / 2;
        
        &:first-of-type {
          padding-left: 0;
        }
        
        a {
          color: $black;
          font-size: rem-calc(18);
          text-decoration: none;
          
          border: 1px solid $black;
          border-radius: 100%;
          height: rem-calc(28);
          width: rem-calc(28);
          
          align-items: center;
          display: flex;
          justify-content: center;
          
          transition: $transition;
          
          &:hover {
            color: $white;
            
            border-color: color(main-color);
            background: color(main-color);
          }
          
        }
      }
      
      
      
    }
    
    
    form {
      font-size: rem-calc(12);
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      input, 
      textarea {
        font-family: $sans-serif-font;
        
        background-repeat: no-repeat;
        background-position: right top;
        border: 1px solid $gray;
        border-radius: ($gutter-width / 4);
        box-shadow: inset 6px 6px 6px -4px $gray;
        padding: rem-calc(12);
        -webkit-appearance: none;
      }
      
      input {
        &[type="text"],
        &[type="email"] {
          background-size: contain;
          margin-bottom: ($gutter-width / 2);
          width: 49%;
          
          &:focus {
            background-image: none;
          }
        }
        
        &[type="text"] {
          background-image: url(../img/contact-icon-name.png);
          margin-right: ($gutter-width / 2);
        }
        
        &[type="email"] {
          background-image: url(../img/contact-icon-email.png);
        }
                
        &[type="submit"] {
          color: $black;
          font-family: $serif-font;
          text-transform: uppercase;
          
          background-color: $gray;
          border: 1px solid $black;
          border-radius: 0;
          box-shadow: none;
          margin: ($gutter-width / 2) 0;
          padding: rem-calc(10);
          -webkit-appearance: none;
          
          cursor: pointer;
          transition: $transition;
          
          &:hover {
            
            background: $white;
          }
        }
      }
      
      textarea {
        background-image: url(../img/contact-icon-message.png);
        width: 100%;
        
        &:focus {
          background-image: none;
        }
      }
    }
    
    .site-footer-links {
      font-family: $sans-serif-font;
      
      padding:  ($gutter-width * 2) 9;
            
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      li {
        font-size: rem-calc(12);
        
        border-bottom: 1px solid $black;
        margin-right: ($gutter-width / 2);
        margin-bottom: ($gutter-width);
        
        flex: 25%;
        
        transition: $transition;
        
        &:hover {
          a {
            opacity: 0.6;
          }
        }
        
        a {
          color: $black;
          text-decoration: none;
          
          transition: $transition;
        }
      }
    }
    
    .site-footer-disclaimer {
      font-family: $sans-serif-font;
      font-size: rem-calc(10);
    }
    
    .site-footer-branding {
      padding:  ($gutter-width * 2) ($gutter-width / 2) 0;
      
      align-items: center;
      display: flex;
      justify-content: space-between;
      
      .site-agent-access-link {
        color: $black;
        font-family: $sans-serif-font;
        font-size: rem-calc(10);
        text-decoration: none;
        text-transform: uppercase;
        
        border: 1px solid $black;
        padding: ($gutter-width)  ($gutter-width * 2);
        
        transition: $transition;
        
        &:hover {
          
          background: $light-gray;
        }
      }
    }
    
    
    @media #{$mobile-down} {
      h2 {
        text-align: center;
      }
      

      
      form {
        input {
          &[type="text"] {
            margin-right: 0;
          }
          
          
          &[type="text"],
          &[type="email"] {
            
            width: 100%;
          }
      }
      }
      
      .site-footer-links {
        li {
          flex: 100%;
        }
      }
      
      .site-footer-branding {
        flex-wrap: wrap;
        
        a {
          margin: 0 ($gutter-width / 2);
        }
      }
    }
  }

  
}



