@import 'global-functions';
@import 'global-media-queries';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700');
@import 'sass-burger';

$gutter-width: $rem-base;
$mobile-header-height: rem-calc(40);

$white: #fff;
$black: #000;
$gray: #bcbbbb;
$dark-gray: #504f4f;

$colors: (
  main-color: #04af99,
  secondary-color: #f78f1e,
  tertiary-color: #005aa2
);

$backgrounds: (
  hero: url(img/team/hero1.jpg),
  sub-hero: url(img/team/hero2.jpg),
  agent: url(img/team/hero2.jpg)
);

:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: $color;
  }
  
  @each $name, $file in $backgrounds {
    --#{$name}: $file;
  }
  

}

@function color($color-name) {
  @return var(--#{$color-name});
}

@function bg($bg-name) {
  @return var(--#{$bg-name})
}

$sans-serif-font: 'Open Sans', sans-serif;
$serif-font: 'Source Serif Pro', serif;

$transition: all 300ms ease;



#personal1 {
  
  color: $black;
  font-family: $serif-font;
  font-weight: 300;
  
  a, h1, h2, h3, h4, h5, h6 {
    color: color(main-color);
  }
  
  .site-container {
    margin: 0 auto;
    max-width: rem-calc(1200);
  }
  
  .no-bullet {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
  }
  
  .site-row {
    display: flex;
    justify-content: space-between;
    
    &.align-middle {
      align-items: center;
    }
    
    @media #{$mobile-down} {
      flex-wrap: wrap;
    }
    
  }
  
  .site-column {
    padding: 0 ($gutter-width / 2);
    
    &.two-thirds {
      width: 66%;
    }
    
    &.half {
      width: 50%;
    }
    
    &.third {
      width: 33%;
    }
    
    &.quarter {
      width: 25%;
    }
    
    @media #{$mobile-down} {
      &.two-thirds,
      &.half,
      &.third,
      &.quarter {
        width: 100%;
      }
      
      
    }
  }
  
  
  
  
  
  // HEADER
  .site-header {  
    width: 100%; 
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0; 
    z-index: 1;
    
    @media #{$mobile-down} {
      background: $black;
      height: $mobile-header-height;
      
      position: relative;
      
      .site-logo-nav, .site-logo, .site-logo img {
        height: 100%;
      }
      
      
      
    }
    
  }
  
  
  
  .site-logo {
    
    width: 25%;
    
    align-items: center;
    display: flex;
    
    img {      
      padding-right: $gutter-width / 2;
    }
    
    a {
      color: $white;
      font-size: ($gutter-width * 1.25);
      line-height: 0.8;
      text-align: center;
      text-decoration: none;
      text-shadow: 0 0 ($gutter-width) $black;
      text-transform: uppercase;
      
      display: block;
      
      
      
    }
    
    @media #{$mobile-down} {
      
      width: auto;
      
      a {
        color: $white;
        font-size: rem-calc(20);
        text-shadow: none;
        
      }
      
      
    }
      
  }
  
  .site-logo-nav {
    
    height: rem-calc(100);
    padding: 0 ($gutter-width / 2);
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    @media #{$mobile-down} {
      position: relative;
    }
    
    
    nav {
      
      ul {
        list-style-type: none;
        
        margin: 0;
        padding: 0;
        
        li {
          
          a {
            font-family: $sans-serif-font;
            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }
      
      .site-header-nav-login {
        color: $white;
        font-size: rem-calc(14);
        font-weight: bold;
        font-family: $sans-serif-font;
        text-decoration: none;
        text-transform: uppercase;
        
        border-left: 1px solid $white;
        padding-left: ($gutter-width * 2);
        
        @media #{$tablet-up} {
          i {
            display: none;
          }
        }
        
        @media #{$mobile-down} {
          border-left: none;
          padding-left: 0;
          
          span {
            display: none;
          }
          
          i {
            font-size: rem-calc(24);
          }
        }

      }
      
      .site-header-nav-button {
        text-decoration: none;
        
        padding: 0 ($gutter-width / 2);
        
        cursor: pointer;
        display: none;
        
        @media only screen and (max-width: 769px) {
          align-items: center;
          display: flex;
        }
        
        
        
        .site-header-nav-burger {
          @include burger(28px, 3px, 5px, $white);
        }
        
        &.is-active {
          .site-header-nav-burger {
            @include burger-to-cross;
          
          }
        }
        
        
      }
      
      @media #{$tablet-up} {
              
        align-items:  center;
        display: flex;
        
        > ul {
          
          margin-right: ($gutter-width);
        
          align-items:  center;
          display: flex;
          
          > li {
        
            align-items:  center;
            display: flex;
            
            > a {
              color: $white;
              
              position: relative;
        
              align-items:  center;
              display: flex;
              
              transition: $transition;
            }
            
            &:not(.has-dropdown) {
              &:hover {
                a {
                  opacity: 0.7;
                }
              }
            }
          }
        }
        
        ul {
          
          li {
            font-size: rem-calc(14);
            
            padding: ($gutter-width) ($gutter-width);
            
            
            
          }
          
          .has-dropdown {
            position: relative;
            
            &:after {
              color: $white;
              content: '\f107';
              font-family: FontAwesome;
              
              position: absolute;
              top: rem-clac(15);
              right: 0;
              
              transition: $transition;
            }
            
            &:hover {
              .dropdown {
                display: block;
              }
              
              
              
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          
          .dropdown {
            list-style: none;
            
            margin: 0;
            padding-left: 0;
            
            position: absolute;
            top: rem-calc(36);
            
            display: none;
                      
            li {
              background: $white;
              padding: 0;
              
              transition: $transition;
              
              a {
                color: $black;
                padding: ($gutter-width / 2);
                
                display: block;
              }
              
              &:hover {
                background: $dark-gray;
                
                a {
                  color: $white;
                                  
                }
              }
            }
          }
        }
      }
      
      @media #{$mobile-down} {
        
        align-items: center;
        display: flex;
        
        > ul {
          display: none;
          
          width: 100%;
          
          position: absolute;
          top: $mobile-header-height;
          right: 0;
          
          li {
            background: $white;
            border-bottom: 1px solid $dark-gray;
            
            &:last-of-type {
              border-bottom: none;
            }
            
            a {
              color: $dark-gray;
              text-decoration: none;
              
              padding: $gutter-width / 2;
              
              display: block;
            }
          }
        } 
        
        ul {
          
          .has-dropdown {
            position: relative;
            
            flex-wrap: wrap;
            
            a {
              width: 100%;
            }
            
            &:after {
              content: '\f107';
              font-family: FontAwesome;
              
              position: absolute;
              top: $gutter-width / 2;
              right: $gutter-width / 2;
              
              transition: $transition;
            }
            
            &.open {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          
          .dropdown {
            position: inherit;
            top: 0;
            
            display: none;
            
            li {
              background: $dark-gray;
              border-color: $white;
              
              a {
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  
  
  // HERO
  
  .site-home-page-hero {
    background-blend-mode: luminosity;
    background-color: $black;
    background-image: bg(hero);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 100vh;
    
    position: relative;
    
    @media #{$mobile-down} {
      background-position: left;
      height: calc(100vh - #{$mobile-header-height});
    }
    
  }
  
  .site-home-page-hero-content {  
    text-align: right;
    
    width: 100%;
    
    position: absolute;
    top: 50%;
     
    .site-container {
      display: flex;
      justify-content: flex-end;
    } 
        
    
    h1, h2, h3 {
      color: $white;
      
      margin: 0;
    }
    
    
    h1 {
      font-size: rem-calc(80);
      font-weight: normal;
      line-height: 0.9;
      text-transform: uppercase;
      
    }
    
    h2, h3 {
      font-size: rem-calc(40);
      font-weight: normal;
      line-height: 1;
    }
    
    h3 {
      font-style: italic;
    }
    
    
    .site-home-quick-search {
      padding: ($gutter-width) 0;
      
      display: flex;
      justify-content: flex-end;
      
      form {
        
        margin: 0;
        width: 40%;
        
        display: flex;
        justify-content: flex-end;
        
        input {
          
          
          text-transform: uppercase;
          
          
          &[type="text"] { 
            font-family: $sans-serif-font;
            font-size: rem-calc(12);
             
            border-top: 1px solid $gray;
            border-right: none;
            border-bottom: 1px solid $gray;
            border-left: 1px solid $gray;  
            padding: ($gutter-width);
            flex: 80%;
          }
          
          &[type="submit"] {
            font-family: $serif-font;
            font-size: rem-calc(14);
            font-weight: bold;
            text-align: right;
            
            background: $white;
            border-top: 1px solid $gray;
            border-right: 1px solid $gray;
            border-bottom: 1px solid $gray;
            border-left: none; 
            padding: 0 ($gutter-width);
            flex: 1 1 auto;
            
            cursor: pointer;
            transition: $transition;
            
            &:hover {
              color: $white;
              
              background: $black;
            }
            
          }
        }
      }
    }
    
    
    
    
    @media #{$mobile-down} {
      padding: ($gutter-width / 2);
      width: auto;
      
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      
      h1 {
        font-size: rem-calc(40);
        line-height: 1;
      }
      
      h2, h3 {
        font-size: ($gutter-width);
      }
      
      .site-home-quick-search {
        padding: ($gutter-width) 0 0;
        
        form {
          
          width: 100%;
          
          input {
            
            &[type="text"] {
              width: 75%;
            }
            
            &[type="submit"] {
              width: 25%;
            }
          }
        }
      }
      
    }
  }
  
  .site-home-page-hero-content-container {
    width: 75%;
    
    @media #{$mobile-down} {
      width: 100%;
    }
  }
  
  
  // CONTENT
  
  .site-home-page-content {
    color: $white;
    
    background: $gray;
    padding: ($gutter-width * 2) ($gutter-width / 2);
    
    p {
      font-size: rem-calc(28);
      font-weight: bold;
    }

    
    @media #{$mobile-down} {
        .primary-content p {
          font-size: 18px;
        }
        
        .secondary-content p {
          font-size: rem-calc(14);
        }
      }
    
    
    
    .site-button {
      color: $white;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      
      border: 1px solid color(secondary-color);
      padding: ($gutter-width / 2) ($gutter-width * 2);
      
      display: block;
      
      transition: $transition;
      
      &:hover {
        background: color(secondary-color);
        
      }
      
    }
    
    @media #{$mobile-down} {
      padding: ($gutter-width / 2);
    }
  }
  
  // FEATURED LISTINGS
  
  .site-featured-listings {
    
    display: flex;
    flex-wrap: wrap ;
    
    
    a {
      color: $white;
      font-family: $sans-serif-font;
      font-weight: lighter;
      text-decoration: none;
      
      background-blend-mode: luminosity;
      background-color: $black;
      background-image: url(../img/persona1/featured-listing.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 600px;
      width: 100%;
      
      display: block;
      flex: 50%;
      
      transition: $transition;
      
      &:hover {
        background-color: transparent;
      }
      
      .site-container {
        display: flex;
        
        ul {
          background: rgba($black, 0.6);
          padding: ($gutter-width) ($gutter-width * 2) ($gutter-width * 2) ($gutter-width);
          
          li {
            &.address {
              border-bottom: 1px solid $white;
              padding-bottom: ($gutter-width / 2);
              
            }
            
            &.price {
              font-size: rem-calc(28);
              font-weight: 400;
              
              padding: ($gutter-width / 2) 0;
              
            }
            
            &.details {
              span {
                border-right: 1px solid $white;
                padding: 0 ($gutter-width);
                
                &:first-of-type {
                  padding-left: 0;
                }
                
                &:last-of-type {
                  border-right: none;
                  padding-right: 0;
                }
              }
            }
          }
        }
      }
    }
    
    
    
  }
  

  
  
  // TESTIMONIAL
  
  
  .site-home-page-testimonial {
    color: $white;
    
    background: $dark-gray;
    padding: rem-calc(100) ($gutter-width * 2);
  }
  
  .site-home-page-testimonial-content {
      
      position: relative;
      
      &:before,
      &:after {
        color: $gray;
        content: "''";
        font-family: $serif-font;
        font-size: 80px;
        
        position: absolute;
      }
      
      &:before {
                
        top: -38px;
        left: 0;
        
      }
      
      &:after {
        bottom: -21px;
        right: 21px;
      }
      
      p {
        font-size: ($gutter-width * 2);
        font-style: italic;
        line-height: 1.8;
        
        margin: 0;
      }
      
      span {
        font-size: 18px;
        font-style: italic;
        font-weight: bold;
        text-align: right;
        
        padding-right: ($gutter-width * 3);
        
        display: block;
        
      }
      
      @media #{$mobile-down} {
        p, span {
          font-size: rem-calc(14);
        }
      }
      
    }
  
  
    // CALLOUTS
  
  .site-callouts {
    
    background-image: bg(sub-hero);
    background-position: center bottom;
    background-size: cover;
    padding: rem-calc(100) 0;
    
    
    a {
      color: $black;
      text-align: center;
      text-decoration: none;
      
      transition: $transition;
      
      
      h2,
      h3 {
        color: $black;
        font-weight: normal;
        
        margin: 0;
      }
      
      h2 {
        font-size: rem-calc(28);
        
        text-transform: uppercase;
      }
      
      h3 {
        font-size: 18px;
      }
      
      .fa-home {
        font-size: 200px;
      }
      
      .fa-angle-double-right {
        font-size: rem-calc(100);
      }
      
      
      &:hover {
        opacity: 0.6;
      }
    }
    

    
  }
  

  
  
  // FOOTER
  
  .site-footer {
    color: $white;
    font-size: rem-calc(14);
    
    background: $black;
    padding: ($gutter-width * 2) 0;
    
    p {
      margin: 0;
    }
    
    .site-footer-name {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      
      margin-bottom: 0;
    }
    
    .footer-address {
      margin: ($gutter-width) 0;
      
      .office {
        font-size: 18px;
        font-weight: bold;
      }
    }
    
    h2 {
      color: $white;
      font-size: rem-calc(20);
      font-weight: 100;
      text-transform: uppercase;
    }
    
    .footer-social {
      
      align-items: flex-end;  
      display: flex;
      
      li {
        padding: 0 $gutter-width / 2;
        
        &:first-of-type {
          padding-left: 0;
        }
        
        a {
          color: $white;
          font-size: rem-calc(18);
          text-decoration: none;
          
          border: 1px solid $white;
          border-radius: 100%;
          height: rem-calc(28);
          width: rem-calc(28);
          
          align-items: center;
          display: flex;
          justify-content: center;
          
          transition: $transition;
          
          &:hover {
            color: $gray;
            
            background: $white;
          }
          
        }
      }
      
      
      
    }
    
    
    form {
      font-size: rem-calc(12);
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      input, 
      textarea {
        font-family: $sans-serif-font;
        
        background-repeat: no-repeat;
        background-position: right top;
        border: none;
        border-radius: 4px;
        padding: rem-calc(12);
        -webkit-appearance: none;
        
        
      }
      
      input {
        &[type="text"],
        &[type="email"] {
          background-size: contain;
          margin-bottom: ($gutter-width / 2);
          
          width: 49%;
          
          &:focus {
            background-image: none;
          }
        }
        
        &[type="text"] {
          margin-right: ($gutter-width / 2);
          
          background-image: url(../img/contact-icon-name.png);
        }
        
        &[type="email"] {          
          background-image: url(../img/contact-icon-email.png);
        }
        
        
        &[type="submit"] {
          color: $white;
          font-family: $serif-font;
          text-transform: uppercase;
          
          background: rgba($white, 0.4);
          border: 1px solid $white;
          border-radius: ($gutter-width);
          margin: ($gutter-width / 2) 0;
          padding: rem-calc(10);
          -webkit-appearance: none;
          
          transition: $transition;
          
          &:hover {
            color: $black;
            
            background: $white;
            
          }
        }
      }
      
      textarea {
        background-image: url(../img/contact-icon-message.png);
        width: 100%;
        
        &:focus {
          background-image: none;
        }
      }
    }
    
    .site-footer-links {
      font-family: $sans-serif-font;
      
      padding: ($gutter-width * 2) 9;
            
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      li {
        font-size: rem-calc(12);
        
        border-bottom: 1px solid $white;
        margin-right: ($gutter-width / 2);
        margin-bottom: ($gutter-width);
        
        flex: 25%;
        
        transition: $transition;
        
        &:hover {
          a {
            opacity: 0.6;
          }
        }
        
        a {
          color: $white;
          text-decoration: none;
          
          transition: $transition;
        }
      }
    }
    
    .site-footer-disclaimer {
      font-family: $sans-serif-font;
      font-size: rem-calc(10);
    }
    
    .site-footer-branding {
      padding: ($gutter-width * 2) ($gutter-width / 2) 0;
      
      align-items: center;
      display: flex;
      justify-content: space-between;
      
      .site-agent-access-link {
        color: $white;
        font-family: $sans-serif-font;
        font-size: rem-calc(10);
        text-decoration: none;
        text-transform: uppercase;
        
        border: 1px solid $white;
        padding: ($gutter-width) ($gutter-width * 2);
        
        transition: $transition;
        
        &:hover {
          color: $black;
          
          background: $white;
        }
      }
    }
    
    
    @media #{$mobile-down} {
      h2 {
        text-align: center;
      }
      
      .site-logo {
        img {
          margin: 0 auto;
          
          display: block;
        }
      }
      
      form {
        input {
          &[type="text"] {
            margin-right: 0;
          }
          
          
          &[type="text"],
          &[type="email"] {
            
            width: 100%;
          }
      }
      }
      
      .site-footer-links {
        li {
          flex: 100%;
        }
      }
      
      .site-footer-branding {
        flex-wrap: wrap;
        
        a {
          margin: 0 ($gutter-width / 2);
        }
      }
    }
  }

  
}



