@import 'global-functions';
@import 'global-media-queries';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800');
@import 'sass-burger';

$gutter-width: $rem-base;
$mobile-header-height: rem-calc(40);

$white: #fff;
$black: #000;
$gray: #bcbbbb;
$dark-gray: #4f4f4f;

$colors: (
  main-color: #04af99,
  secondary-color: #f78f1e,
  tertiary-color: #005aa2
);

$backgrounds: (
  hero: url(img/team/hero1.jpg),
  sub-hero: url(img/team/hero2.jpg),
  agent: url(img/team/hero2.jpg)
);

:root {
  // each item in color map
  @each $name, $color in $colors {
    --#{$name}: $color;
  }
  
  @each $name, $file in $backgrounds {
    --#{$name}: $file;
  }
  

}

@function color($color-name) {
  @return var(--#{$color-name});
}

@function bg($bg-name) {
  @return var(--#{$bg-name})
}

$sans-serif-font: 'Open Sans', sans-serif;

$transition: all 300ms ease;



#team3 {
  
  color: $dark-gray;
  font-family: $sans-serif-font;
  font-weight: 300;
  
  a, h1, h2, h3, h4, h5, h6 {
    color: color(main-color);
  }
  
  .site-container {
    margin: 0 auto;
    max-width: rem-calc(1200);
  }
  
  .no-bullet {
    list-style-type: none;
    
    margin: 0;
    padding: 0;
  }
  
  .site-row {
    display: flex;
    justify-content: space-between;
    
    &.align-middle {
      align-items: center;
    }
    
    @media #{$mobile-down} {
      flex-wrap: wrap;
    }
    
  }
  
  .site-column {
    padding: 0 $gutter-width / 2;
    
    &.two-thirds {
      width: 66%;
    }
    
    &.half {
      width: 50%;
    }
    
    &.third {
      width: 33%;
    }
    
    &.quarter {
      width: 25%;
    }
    
    @media #{$mobile-down} {
      &.two-thirds,
      &.half,
      &.third,
      &.quarter {
        width: 100%;
      }
      
      
    }
  }
  
  
  
  
  
  // HEADER
  .site-header {    
    
    @media #{$mobile-down} {
      height: $mobile-header-height;

    }
    
  }
  
  .site-contact-login {
    
    a {
      color: $white;
      text-decoration: none;
    }
    
    color: $white;
    font-size: rem-calc(12);
    
    background: $gray;
    padding: $gutter-width / 2;
    width: 100%;
    
    .site-container {
      display: flex;
      justify-content: space-between;
    }
    
    ul {
      display: flex;
      
      li {
        padding-right: $gutter-width;
        
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
    
    #loggedIn {
      display: none;
    }
    
    #loggedOut {
      font-weight: bold;
      text-transform: uppercase;
    } 
    
    @media #{$mobile-down} {
      display: none;
    }
    
    
     
  }
  
  
  
  .site-logo {
    
    display: flex;
    align-items: center;
    
    @media #{$mobile-down} {
      
      width: 75%;
      
      img {
        height: 100%;
      }
      
      a {
        padding-left: $gutter-width / 4;
        
        align-items: center;
        display: flex;
        
        img {
          height: auto;
          width: 75%;
        }
        
      }
      
    }
    
      
  }
  
  .site-logo-nav {
    
    height: rem-calc(100);
    padding: 0 ($gutter-width / 2);
    
    align-items: center;
    display: flex;
    justify-content: space-between;
    
    @media #{$mobile-down} {
      height: 100%;
      
      position: relative;
    }
    
    
    
    nav {
      
      ul {
        list-style-type: none;
        
        margin: 0;
        padding: 0;
      }
      
      
      @media #{$tablet-up} {
        height: 100%;
      
        align-items:  center;
        display: flex;
        
        > ul {
          height: 100%;
        
          align-items:  center;
          display: flex;
          
          > li {
            height: 100%;
        
            align-items:  center;
            display: flex;
            
            > a {
              height: 100%;
              
              position: relative;
        
              align-items:  center;
              display: flex;
                          
            
              &:hover {
              
                &:before {
                  content: '';
                  
                  border-top: 18px solid color(main-color);
                  border-left: 18px solid transparent;
                  border-right: 18px solid transparent;
                  height: 0;
                  width: 0;
                  
                  
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  
                }
              }
            }
          }
        }
        
        ul {
          
          li {
            font-size: rem-calc(14);
            
            padding: 0 $gutter-width;
            
            a {
              color: $dark-gray;
              text-decoration: none;
  
            }
            
          }
          
          .has-dropdown {
            position: relative;
            
            &:hover {
              .dropdown {
                display: block;
              }
            }
          }
          
          .dropdown {
            list-style: none;
            
            margin: 0;
            padding-left: 0;
            
            position: absolute;
            top: rem-calc(100);
            
            display: none;
                      
            li {
              background: $white;
              padding: 0;
              
              transition: $transition;
              
              a {
                padding: ($gutter-width / 2) $gutter-width;
                
                display: block;
              }
              
              &:hover {
                background: color(main-color);
                
                a {
                  color: $white;
                                  
                }
              }
            }
          }
          
        }
        
      }
      
      @media #{$mobile-down} {
        > ul {
          display: none;
          
          width: 100%;
          
          position: absolute;
          top: $mobile-header-height;
          right: 0;
          
          li {
            background: $white;
            border-bottom: 1px solid $dark-gray;
            
            &:last-of-type {
              border-bottom: none;
            }
            
            a {
              color: $dark-gray;
              text-decoration: none;
              
              padding: $gutter-width / 2;
              
              display: block;
            }
          }
        } 
        
        ul {
          
          .has-dropdown {
            position: relative;
            
            flex-wrap: wrap;
            
            a {
              width: 100%;
            }
            
            &:after {
              content: '\f107';
              font-family: FontAwesome;
              
              position: absolute;
              top: $gutter-width / 2;
              right: $gutter-width / 2;
              
              transition: $transition;
            }
            
            &.open {
              &:after {
                transform: rotate(180deg);
              }
            }
          }
          
          .dropdown {
            position: inherit;
            top: 0;
            
            display: none;
            
            li {
              background: color(main-color);
              border-color: $white;
              
              a {
                color: $white;
              }
            }
          }
        }
        
        
      }
      
      .site-header-nav-button {
        text-decoration: none;
        
        padding: 0 ($gutter-width / 2);
        
        cursor: pointer;
        display: none;
        
        @media only screen and (max-width: 769px) {
          align-items: center;
          display: flex;
        }
        
        
        
        .site-header-nav-burger {
          @include burger(28px, 3px, 5px, $dark-gray);
        }
        
        &.is-active {
          .site-header-nav-burger {
            @include burger-to-cross;
          
          }
        }
        
        
      }
      
      
      
    }
    
  }
  
  
  // HERO
  
  .site-home-page-hero {
    
    background-image: bg(hero);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: (rem-calc(200)) 0 (rem-calc(100));
    
    @media #{$mobile-down} {
      padding: ($gutter-width * 3) 0;
    }
    
  }
  
  .site-home-page-hero-content {   
    padding: 0 $gutter-width / 2; 
    
    align-items: baseline;
    display: flex;
    flex-direction: column;
    
    
    h1, h2, h3, .site-home-quick-search {
      
      background: rgba($white, 0.8);
      
      
      
    }
    
    h1, h2, h3 {
      color: $dark-gray;
      
      margin: 0;
    }
    
    
    h1 {
      font-size: rem-calc(100);
      font-weight: 100;
      line-height: 0.9;
      text-transform: uppercase;
      
      padding: $gutter-width;
      
      span {
        font-weight: 700;
      }
    }
    
    h2 {
      font-weight: bold;
      text-transform: uppercase;
      
      padding: ($gutter-width / 2) ($gutter-width * 2) ($gutter-width / 2) $gutter-width;
    }
    
    h3 {
      font-weight: normal;
      
      padding: 0 ($gutter-width * 2) ($gutter-width / 2) $gutter-width;
    }
    
    
    .site-home-quick-search {
      padding: $gutter-width;
      width: 40%;
      
      form {
        
        
        margin: 0;
        width: 100%;
        
        align-items: center;
        display: flex;
        
        input {
          font-family: $sans-serif-font;
          font-size: rem-calc(10);
          text-transform: uppercase;
          
          padding: $gutter-width / 2;
          
          &[type="text"] {  
            border-top: 1px solid $gray;
            border-right: none;
            border-bottom: 1px solid $gray;
            border-left: 1px solid $gray;  
            
            flex: 100%;
          }
          
          &[type="submit"] {
            text-align: right;
            
            background: $white;
            border-top: 1px solid $gray;
            border-right: 1px solid $gray;
            border-bottom: 1px solid $gray;
            border-left: none; 
            
            flex: auto;
            
            cursor: pointer;
            transition: $transition;
            
            &:hover {
              color: $white;
              
              background: color(main-color);
            }
            
          }
        }
      }
    }
    
    
    
    
    @media #{$mobile-down} {
      
      h1 {
        font-size: ($gutter-width * 2);
      }
      
      h2 {
        font-size: $gutter-width;
      }
      
      h3 {
        font-size: rem-calc(12);
      }
      
      .site-home-quick-search {
        width: 80%;
        
        form {
          input {
            
            &[type="text"] {
              width: 75%;
            }
            
            &[type="submit"] {
              width: 25%;
            }
          }
        }
      }
      
    }
  }
  
  // CONTENT
  
  .site-home-page-content {
    color: $white;
    
    background: $gray;
    border-bottom: 2px solid $dark-gray;
    padding: ($gutter-width * 2) 0;
    
    p {
      font-size: rem-calc(18);
      line-height: 1.8;
      
      margin: 0;
      
      strong {
        font-size: rem-calc(24);
        font-weight: 700;
        text-transform: uppercase;
      }
    }
    
    .site-button {
      color: $white;
      font-weight: 700;
      font-size: rem-calc(18);
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      
      border: 1px solid color(secondary-color);
      padding: ($gutter-width / 2) ($gutter-width * 2);
      
      display: block;
      
      transition: $transition;
      
      &:hover {
        background: color(secondary-color);
        
      }
      
    }
    
    @media #{$mobile-down} {
      padding: $gutter-width / 2;
    }
  }
  
  
  // CALLOUTS
  
  .site-callouts {
    
    padding: rem-calc(100) 0;
    
    article {
      header {
        
        align-items: center;
        display: flex;
                
        i {
          font-size: rem-calc(50);
          
          border: 1px solid $black;
          margin-right: $gutter-width;
          padding: $gutter-width / 2;

        }
        
        label {
          
          font-size: rem-calc(24);
          font-weight: bold;
          text-transform: uppercase;
          
          span {
            font-size: $gutter-width;
            font-weight: normal;
            text-transform: none;
            
            display: block;
            
          }
          
        }

        
      }
      
      p {
        line-height: 1.8;
      }
      
      a {
        color: $dark-gray;
        
        text-decoration: none;
        text-transform: uppercase;
        
        display: flex;
        
        transition: $transition;
        
        span {
          padding-left: $gutter-width / 4;
          
          transition: $transition;
        }
        
        &:hover {
          span {
            transform: translateX(100%);
          }
        }
      }
      
      &:first-of-type {
          
        i {
          color: color(main-color);
          
          border-color: color(main-color);
        }
        
      }
      
      &:nth-of-type(2) {
        i {
          color: color(secondary-color);
          
          border-color: color(secondary-color);
        }
      }
      
      &:last-of-type {
        i {
          color: color(tertiary-color);
          
          border-color: color(tertiary-color);
        }
      }
    }
    
    @media #{$mobile-down} {
      padding: $gutter-width / 2;
      
      article {
        padding: ($gutter-width / 2) 0;
      }
    }
    
  }
  
  
  // SUB HERO
  
  .site-home-page-sub-hero {
    background-image: bg(sub-hero);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem-calc(100) 0 rem-calc(100);
    
    
    .site-home-page-sub-hero-content {
      background: rgba($white, 0.8);
      padding: ($gutter-width * 3) ($gutter-width * 3) ($gutter-width * 2);
      
      
      
      
    }
    
    .site-testimonial {
      
      position: relative;
      
      &:before,
      &:after {
        color: color(main-color);
        content: "''";
        font-size: rem-calc(80);
        font-style: italic;
        
        position: absolute;
      }
      
      &:before {
                
        top: -38px;
        left: -12px;
        
      }
      
      &:after {
        bottom: -57px;
        right: 21px;
      }
      
      p {
        font-size: rem-calc(20);
        line-height: 1.8;
        
        margin: 0;
      }
      
      span {
        font-style: italic;
        text-align: right;
        
        padding-right: ($gutter-width * 3);
        
        display: block;
        
      }
      
      @media #{$mobile-down} {
        p, span {
          font-size: rem-calc(14);
        }
      }
      
    }
  }
  
  // FEATURED LISTINGS
  
  .site-featured-listings {
    
    padding-bottom: ($gutter-width * 3);
    
    h2 {
      
      color: $dark-gray;
      text-align: center;
      text-transform: uppercase;
      
      
    }
    
    .site-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
      a {
        color: $dark-gray;
        text-decoration: none;
        
        background-image: url(../img/team/featured-listing.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: rem-calc(285);
        margin: ($gutter-width / 2);
        
        overflow: hidden;
        position: relative;
        
        flex: 32%;
        
        &:hover {
          .site-featured-listing-info {
            transform: translateY(-(rem-calc(150)));
          }
        }
        
        .site-featured-listing-info {
          
          background: rgba($white, 0.8);
          padding: $gutter-width / 2 $gutter-width;
          
          position: absolute;
          bottom: -(rem-calc(150));
          left: 0;
          right: 0;
          
          display: flex;
          flex-direction: column;
          
          transition: $transition;
          
          li {
            &.address {
              font-weight: bold;
              
              margin-bottom: $gutter-width / 2;
            }
            
            &.price {
              font-size: rem-calc(24);
              font-weight: bold;
              
              padding-bottom: $gutter-width / 4;
            }
            &.details {
              span {
                border-right: 1px solid $dark-gray;
                padding: 0 ($gutter-width / 4);
                
                &:first-of-type {
                  padding-left: 0;
                }
                
                &:last-of-type {
                  border-right: none;
                }
              }
            }
          }
        }
        
        
        @media #{$mobile-down} {
          margin-bottom: 0;
          
          flex: 100%;
          
          .site-featured-listing-info {
            bottom: 0;
          }
        }
        
        
        
      }
      
    }
  }
  
  .site-team {
    
    background-image: bg(agent);
    background-repeat: no-repeat;
    background-size: cover;
    
    padding: ($gutter-width * 2) 0;
    
    h2 {
      
      color: $dark-gray;
      text-align: center;
      text-transform: uppercase;
            
    }
    
    .site-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    
    article {
      font-weight: bold;
      text-align: center;
      
      margin: 0 ($gutter-width / 2) $gutter-width ($gutter-width / 2);
      
      display: flex;
      flex: 0 0 18%;
      flex-direction: column;
      justify-content: center;
      
      img {
        height: auto;
        width: 100%;
      }
      
      label {
        padding: ($gutter-width / 2) 0;
      }
      
      ul {
        
        li {
          font-size: rem-calc(10);
          font-weight: normal;
        }
      }
      
      @media #{$mobile-down} {
        flex: 0 0 44%;
      }
    }
    
  }
  
  // FOOTER
  
  .site-footer {
    color: $white;
    font-size: rem-calc(14);
    
    background: $gray;
    padding: 32px 0;
    
    h2 {
      color: $white;
      font-size: rem-calc(20);
      font-weight: 100;
      text-transform: uppercase;
    }
    
    .footer-social {
      
      align-items: flex-end;  
      display: flex;
      
      li {
        padding: 0 $gutter-width / 2;
        
        &:first-of-type {
          padding-left: 0;
        }
        
        a {
          color: $white;
          font-size: rem-calc(18);
          text-decoration: none;
          
          border: 1px solid $white;
          border-radius: 100%;
          height: rem-calc(28);
          width: rem-calc(28);
          
          align-items: center;
          display: flex;
          justify-content: center;
          
          transition: $transition;
          
          &:hover {
            color: $gray;
            
            background: $white;
          }
          
        }
      }
      
      
      
    }
    
    
    form {
      font-size: rem-calc(12);
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      input, 
      textarea {
        font-family: $sans-serif-font;
        
        border: none;
        border-radius: ($gutter-width / 4);
        padding: $gutter-width / 2;
        -webkit-appearance: none;
      }
      
      input {
        &[type="text"] {
          margin-right: $gutter-width / 2;
        }
        
        
        &[type="text"],
        &[type="email"] {
          margin-bottom: $gutter-width / 2;
          
          width: 49%;
        }
        
        &[type="submit"] {
          color: $white;
          text-transform: uppercase;
          
          background: transparent;
          border: 1px solid $white;
          border-radius: $gutter-width;
          margin: ($gutter-width / 2) 0;
          padding: rem-calc(10);
          -webkit-appearance: none;
          
          transition: $transition;
          
          &:hover {
            color: $gray;
            
            background: $white;
          }
        }
      }
      
      textarea {
        width: 100%;
      }
    }
    
    .site-footer-links {
      padding: ($gutter-width / 2);
      
      
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
      li {
        font-size: rem-calc(12);
        
        border-bottom: 1px solid $white;
        margin-right: $gutter-width / 2;
        margin-bottom: $gutter-width;
        
        flex: 25%;
        
        transition: $transition;
        
        &:hover {
          a {
            opacity: 0.6;
          }
        }
        
        a {
          color: $white;
          text-decoration: none;
          
          transition: $transition;
        }
      }
    }
    
    .site-footer-disclaimer {
      font-size:  rem-calc(10);
      text-align: center;
    }
    
    .site-footer-branding {
      padding: ($gutter-width * 2) ($gutter-width / 2) 0;
      
      align-items: center;
      display: flex;
      justify-content: space-between;
      
      .site-agent-access-link {
        color: $white;
        font-size: rem-calc(10);
        text-decoration: none;
        text-transform: uppercase;
        
        border: 1px solid $white;
        padding: $gutter-width ($gutter-width * 2);
        
        transition: $transition;
        
        &:hover {
          color: $gray;
          
          background: $white;
        }
      }
    }
    
    
    @media #{$mobile-down} {
      h2 {
        text-align: center;
      }
      
      .site-logo {
        img {
          margin: 0 auto;
          
          display: block;
        }
      }
      
      form {
        input {
          &[type="text"] {
            margin-right: 0;
          }
          
          
          &[type="text"],
          &[type="email"] {
            
            width: 100%;
          }
      }
      }
      
      .site-footer-links {
        li {
          flex: 100%;
        }
      }
      
      .site-footer-branding {
        flex-wrap: wrap;
        
        a {
          margin: 0 ($gutter-width / 2);
        }
      }
    }
  }
}



